body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    color: #333333;
    background-color: white;
}

hr {
    border: none;
    height: 2px;
    background: var(--accent);
    width: 80%;
    margin: 40px auto;
}

h1 {
    color: var(--accent);
    font-size: 3rem;
    margin-top: 80px;
}

button {
    background-color: #0078d4;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
}

section {
    margin-top: 80px;
}

h2 {
    color: var(--accent);
    margin-top: 70px;
    margin-bottom: 30px;
}

div {
    background-color: var(--light-grey);
    border-left: 6px solid var(--accent);
    padding: 20px;
    margin: 20px auto;
    width: 650px;
    text-align: left;
}

a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

:root {
    --accent: #33B8BC;
    --light-grey: #f3f3f3;
    --mid-grey: #d9d9d9;
    --text: #333333;
}
